/*@media (min-width:320px) and (max-width:410px) {
#mws-user-tools #mws-user-info{margin:auto; text-align:left;}
#mws-user-tools.clearfix{text-align:center;}
}

@media (max-width:767px) {
#mws-wrapper{min-height:870px !important;}
#mws-footer-fix .lazyOwl{max-height:46px; width:auto !important;}
#mws-themer #mws-themer-toggle{left:-34px; bottom:-1px; background-color:#333;}
#mws-themer{right:-310px;}
#mws-themer #mws-themer-ribbon{display:none;}
#mws-user-tools #mws-user-info{min-height:32px; padding:4px; height:inherit;}
#mws-footer-fix #owl-demo .item{padding:5px 0px; height:70px; line-height:70px; overflow:hidden;}
/*#mws-wrapper{padding-bottom:0px;}

}
@media (min-width: 768px) and (max-width: 991px){

#mws-footer-fix #owl-demo .item{padding:5px 0px; height:80px; line-height:80px;}
}

@media (min-width: 992px) and (max-width: 1200px) {
#mws-footer-fix #owl-demo .item{padding:15px 0px; height:90px; line-height:90px;}

}*/

ul li {
		margin:0 !important;
	}
.margin-left15{
		margin-left:15px; !important
	}
.small_img {
	height:50px;
	float:right;
}
.asterisk{color: #b94a48;}
.align{
	float:right;
	margin-top: -25px;
	margin-left : 10px !important;
}
.help-inline{
color: #b94a48;
}
.breadcrumb > li > a{
	color :#333333;
	font-weight:bold;
}
.breadcrumb > li {
	color :#333333;
}
.breadcrumb .divider {
	color: #333333!important;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.text-left{
	text-align:left !important;
}
.text-right{
	text-align:right !important;
}
.text-center{
	text-align:center !important;
}
.timline{
	color: black !important;
}
.mws-table tbody tr.odd td.sorting_1 {
    background-color: #F2F2F2;
}

.mws-table tbody tr.even td.sorting_1 {
    background-color: #ffffff;
}
.mws-tfoot{
 background-color: #F2F2F2;
}

.tmimg{
	 border-radius: 50%;
}
/*.album-gallery li {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e8e8ec;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 11px;
    margin-right: 0;
    margin-top: 11px;
    width: 175px;
}*/
/*.album-gallery li  figure{margin:0; padding:0; max-height:150px; overflow:hidden}*/
/*.album-gallery li img {
    min-height: 132px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}*/
.album-gallery img {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.album-gallery li a{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
.albumholer span {
    color: #3e4561;
    display: block;
    font-size: 15px;
    line-height: 18px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
	font-weight:bold
}
.album-gallery li > a > div {
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 9px;
}
.greybrdbot2 {
    border-bottom-color: #9fa4bb;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
.p7 { padding:7px !important;}

.title {
	color: #3e4561;
    display: block;
    font-size: 15px;
    font-weight: bolder;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub-text {
	color: #3e4561;
    display: block;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
}
.ml0 {
margin-left:0px !important
}
.ml10 {
margin-left:10px !important
}

.comment-box {
	padding:10px 0 10px 0;
	border-bottom:1px solid #ddd;
}

/*.smallthumbs {display:inline-block; width :60px;max-height :71px!important;min-height :60px!important;margin-left:10px;margin-bottom:10px}*/

/* 06-10-2014 */
.smallthumbs {
    border: 1px solid rgb(204, 204, 204);
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    min-height: 65px !important;
    vertical-align: top;
    width: 7%;
	border-radius:6px;
}

.smallthumbs figure {
    display:block;
    line-height: 60px;
    margin: 0;
    padding: 0;
	text-align:center;
}
/*.smallthumbs figure img{vertical-align:top; margin-top:5px;}*/
.album-gallery li {
    background: none repeat scroll 0 0 rgb(232, 232, 236);
    float: left;
    list-style: none outside none;
    margin: 11px 0 0 11px;
    width: 175px;
}

.album-gallery li figure {
    line-height: 120px;
	height: 120px;
    margin: 0;
    overflow: hidden;
	text-align:center;
    
}

.album-gallery li img {
 /*     min-height: 176px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

 .comment-box .grid_7 ul{margin:0px; padding:0px; text-align:left;}
 .comment-box .grid_8{padding-left:0px !important;}
 
.comment_list > figure {
    display:inline-block;
    line-height: 47px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.ml5{
	margin-left:5px;
}
 
 .comment_list{
 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display:inline-block;
    line-height: 20px;
    min-height: 47px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;}
.add_comment{margin:0px; padding:0px;}
.add_comment li{list-style:none; display:block; float:left; margin-left:14px;}
.dataTables_wrapper{padding:0px !important;}
.dataTables_wrapper .comment-box{margin:0px !important; width:100% !important;}

#mws-navigation > ul .active > a {
    background-color: rgba(21, 100, 176, 0.9);
    color: #ffffff !important;
    margin: 5px 10px;
}
#mws-header {border-color: rgb(21, 100, 176) }
#mws-username{color:#4d91d2; text-shadow:none;}

/* 06-10-2014 **/

a.loadmore{
    margin : 27px 11px !important;
}
a.loadmore {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #bebebe;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #bebebe;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #e8e8ec;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #bebebe;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #bebebe;
    border-top-style: solid;
    border-top-width: 1px;
    color: #bebebe;
    display: block;
    padding: 10px;
    text-align: center;
}


.no_more_image {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    border-bottom-color: #e8e8ec;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #e8e8ec;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #e8e8ec;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #e8e8ec;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 27px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 27px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}
a.loadmore{background:#e8e8ec; border:1px solid #e8e8ec; padding:10px; margin:27px 11px 53px; display:block; text-align:center; color:#575757}
a.loadmore:hover{background:#268eff; border:1px solid #1D6CC1; color:#fff; text-decoration:none}
.no-margin{margin:0;!important}
.no-padding{padding:0;!important}
.justify{text-align:justify;}
.hos_img{
float:right;
margin-top:-20px
}
.poll-small{
width:67%
}
@media (min-width: 768px) {
	#cke_body{width : 75% !important}
	.nes{margin-left: -12px  !important;}
}
@media (max-width: 768px) {
	#cke_body{width : auto !important}
	.nes{margin-left: -12px !important;}
}
.hr-border{
	border:1px solid #ddd !important;
}

.small_img {
	height:50px !important;
}
td a{
	color:indianred;
}
textarea { resize: vertical; }

#ui-datepicker-div{
	background-color: #35353a;
}
.ui-datepicker-today {
	background-color:#C5D52B;
}
.redColor{
	background-color:#D69999 !important;
}
.greenColor{
	background-color:#99D6AB !important;
}
.right {
	float:right !important;
}
.anchor_style {
	min-height:120px !important;
}
.date-class{
	float:right !important;
	font-weight:bold !important;
	margin-right:7px !important;
}
div.jGrowl {
	position : fixed !important;
}
.no_image {
	height: 50px !important;
	width: 75px !important;
}
.border_1px {
	border:1px solid;
}
.description_heading{
	font-size:16px;
	font-weight:bold;
}
.margin_bottom_5{
	margin:5px 0 0 0 !important;
}
.padding_30{
	padding:30px !important;
}
.school_logo{
	width:75px !important;
	height:50px !important;
}
.margin_left_180 {
	margin-left:180px !important;
}
.border-red{
	 border-color: red;
}
.noti-counter{
	background-color: #c00!important;
    border-radius: 2px!important;
    color: #ffffff!important;
    display: block!important;
    font-size: 11px!important;
    height: 16px!important;
    left: 75%!important;
    line-height: 16px!important;
    min-width: 12px!important;
    padding: 0 2px!important;
    position: absolute!important;
    text-align: center!important;
    top: -4px!important;
    z-index: 101!important;
}
.no-text{padding:50px!important;text-align:center!important}
.f14{font-size:14px!important;}
.f14 a{padding: 15px!important;}
.m5{margin:5px !important;}
.ml5{margin-top:5px;margin-left:5px}
.staff_subject_error{
	float:right;
	margin-top:35px;
	margin-right:-194px;
}
.blue {
	color:blue;
}
.ul-list-style{
	list-style-type:decimal !important;
}




/*.fc-view table thead tr th:first-child {
    border-left: none;
}*/

.fc-view table thead tr th {
	height: 30px;
	 padding-top: 10px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}


/*7-4-2015*/
.btn-group .btn.btn-primary.dropdown-toggle{padding:4px 12px 10px; height:30px !important; width:100px;}
.mws-panel .mws-panel-header .btn-group.align{margin:-29px 0px 0px 0px;}

#select_type.align{margin:-30px 108px 0px 0px;}
@media (max-width:600px) {
.mws-panel .mws-panel-header .align{float:none;}
.widget-news{ width:100%; }
#form_submit_id.mws-form{float:left;}
#select_type.align{margin:20px 0px 0px 0px;}
.mws-panel .mws-panel-header .btn-group.align{margin:20px 0px 0px 0px;}
}
@media (max-width:992px) {
.mws-panel .mws-panel-header .btn.align{float:none; margin-top:15px;}
}

.color-remove{
	background-color:#35353a!important;
}


.text-box-error {
	color:red !important;
	border:1px solid red !important;
}
.text-box-success {
	color:green !important;
	border:1px solid green !important;
}
.text-box-warning {
	color:yellow !important;
	border:1px solid yellow !important;
}
.titmtable-holiday{
	border: 0 none;/* background-color: orchid;color: white; */
}
.fc-event-container a {  cursor: pointer;}
.holiday { cursor: default !important; }
.block{
	float:left !important;
}

button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000;
    float: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
@media (max-width:481px) {
.transport-div{margin-right: 10px; margin-bottom: 10px;margin-bottom: 10px;}
}

@media (min-width: 480px) {

.transport-div{  float: left; margin-right: 10px; margin-bottom: 10px;} 
	#mws-sidebar{
		margin-bottom:0px !important;
	}
}
.transport-span-1{float:left; width:50%;}
.transport-span-2{float:right;}


.modal-content .mws-table tbody tr:first-child td{padding-top:35px; line-height:18px; font-size:16px;}
.modal-content .mws-table tr b{font-weight:normal; color:#fff;}
a.close.no-ajax{font-weight:bold; position:absolute; right:10px; top:5px; color:black;}

span.no-ajax{border:1px solid #fff;  border-radius:50%; display:block; padding:2px 7px 4px;  text-align:center;}

.collection{margin:0px; border:1px solid #e0e0e0; -webkit-border-radius:2px;  -moz-border-radius:2px;  border-radius:2px; background-clip:padding-box; list-style:none; background-color:#fff;}
.only_for_album .collection li{background-color:#fff; padding:10px 20px; border-bottom:1px solid #e0e0e0;}
.only_for_album .collection li b{font-weight:normal; font-size:18px; color:#fff;}
.poll_result{font-size:20px; color:#32326e; line-height:24px; position:relative; padding-left:30px;}
.poll_result .mdi-social-poll{font-size:28px; vertical-align:middle; position:absolute; top:0px; left:0px;}
.poll-span-1{float:left; width:88%;}
.poll-span-2{float:right;}

@media (max-width:600px) {
.mws-panel .mws-panel-header .align{float:none;}

#form_submit_id.mws-form{float:left;}
#select_type.align{margin:20px 0px 0px 0px;}
.mws-panel .mws-panel-header .btn-group.align{margin:20px 0px 0px 0px;}
}
@media (max-width:992px) {
.mws-panel .mws-panel-header .btn.align{float:none; margin-top:15px;}
}
.modal-content .mws-table tbody td{background-color: rgb(53, 53, 58);}

.wordwrap
{
/* wrap long text and urls */
white-space: pre; /* CSS 2.0 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3.0 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
word-wrap: break-word; /* IE 5+ */
}
.dataTables_wrapper .valign.center {
    padding: 10px;
}
.valign.center .staff_blog_image {
    float: left;
    margin: 0 10px 10px 0;
}

 label ,a:not(.no-ajax) {text-transform:capitalize;}
  table th:not(.no-capitalize) {text-transform:capitalize;}
 
.m-bottom150{
	margin-bottom:150px !important;
}
.mb5{margin-bottom:5px;}
.p20{ padding:20px !important;}
.p5{ padding:5px !important;}
.google-spin-height-width{
	height: 50px !important;
	width: 50px !important;
    left: 130px !important;
    top: 60px !important;
}
.height50{
	height: 50px;
}

.img{
	margin: 7px;
}
.pl10{
	padding-left:10px !important;
}

.widthdropdown {
    width: 192px !important;
}
.contactHeight {
    width: 100%;
}
.contactMessageBox {
    padding: 18px 24px;
}

#overlay img {
    background: none repeat scroll 0 0 #fff;
    border-radius: 11px;
    padding: 15px;
    position: relative;
    top: 50%;
}

#overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}


.mws-form-item.userRadio input {
    width: auto !important;
}

.contactMsg{
	padding: 20px;
	background-color: #e1f1c0;
	color: #62a426;
	display:none;
}

.sliderEditImage{
	float: left;
}

/*User Management List */
.highlightBox{
	border: 1px solid #5897fb !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.items-inner {
 border:1px solid transparent;
}

.service_created_from {
    float: left;
    width: 50%;
}

.service_created_to {
    margin-top: -1px !important;
    width: 48%;
}
.selectUserAction{
	width: 110px !important;
}

.userPassword{
	width : 90% !important;
	margin-bottom : 2% !important;
}


.usermgmt_image {
    min-height: 110px;
    min-width: 100px;
}

.tabPaneSLider{
	padding: 0px !important;
	border-width: 0 0px 0px !important;
}

.helptooltipwidth{
	width: 200px !important;
}

.tooltipHelp > .fa-question-circle{
	color:  #d3d3d3;
}

.passwordErrorMsg{
	margin-top : -2%;
}

.tooltipHelp :hover{
   cursor: pointer;
}
.blueicon {
    color: #5bc0de;
}
.greenicon {
    color: #82b964;
}
.redicon {
    color: #d9534f;
}
.url_wrap{
	word-break:break-all !important;
}

#mws-sidebar{
	margin-bottom:60px !important;
}

@media (max-width: 480px) {
	#mws-sidebar{
		margin-bottom:0px !important;
	}
}

.mt5{
	margin-top: 5px !important;
}


